@import "tailwindcss";

@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }



}

@theme {
    
    --font-josefin: "Josefin Sans", "sans-serif";
    --font-tinos: "Tinos", "sans-serif";
    --primary-color: #2c3e50;
    --accent-color: #3498db;
    --text-light: #ecf0f1;
    --text-dark: #333;
    --bg-light: #fdfdfd;
    --standard-padding: 3rem 2rem;
    --standard-spacing: 2rem;
    --small-spacing: 1rem;
    --border-radius: 10px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --icons: #78e8e8;
  }